<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37819138819-5mga06gbk05jsgkqa77f623c4ppr2dl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37819138819-5mga06gbk05jsgkqa77f623c4ppr2dl9</string>
	<key>API_KEY</key>
	<string>AIzaSyBm7RRopoOiEfFOKvI4oqZwt758Jw34SJU</string>
	<key>GCM_SENDER_ID</key>
	<string>37819138819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.winterArcMobile</string>
	<key>PROJECT_ID</key>
	<string>winter-arc-protocol</string>
	<key>STORAGE_BUCKET</key>
	<string>winter-arc-protocol.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37819138819:ios:13922b1506866872bb5f36</string>
</dict>
</plist>